#cadastro fieldset{
    width: 600px;
    padding: 5px;
    background-color:  whitesmoke
}
#cadastro fieldset legend{
   padding: 10px
       
}
#cadastro fieldset label {
    font-family: Arial;
    font-size: 12px;
}
#cadastro fieldset{
    background-color:antiquewhite;
}
#cadastro fieldset{
    
}
